.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 120px;
  height: 45px;
}

.button {
  border: 1px solid black;
  width: 40px;
  background: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputBox {
  all: unset;
  border: 1px solid black;
  background: none;
  color: black;
  width: 40px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  transition: box-shadow 250ms ease;
}

.inputBox:focus {
  box-shadow: 0 0 0 1.5px black;
}
